.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App > .sidebar-container {
  flex: 0 0 200px;
  overflow-y: auto;
}

.App > .content-container {
  margin-left: 200px;
  flex: 1;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  display: flex;
}

.sidebar {
  width: 150px;
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar .username {
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.sidebar .sidebar-nav {
  list-style-type: none;
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar .sidebar-nav li {
  margin-bottom: 10px;
}

.sidebar .sidebar-nav li a {
  text-decoration: none;
  color: #333;
}

.sidebar .logout {
  cursor: pointer;
  color: #999;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.sidebar .sub-nav {
  list-style-type: none;
  margin-top: 5px;
  padding-left: 20px;
}

.sidebar .sub-nav li {
  margin-bottom: 5px;
}

.sidebar .sub-nav li a {
  text-decoration: none;
  color: #333;
}

.sidebar .expand-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.sidebar .expand-button:focus {
  outline: none;
}

.sidebar .expand-button::before {
  margin-right: 5px;
}



